#container {
	height: 610px;
	width: 800px;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#container2 {
	height: auto;
	width: 800px;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#container_targa {
	height: auto;
	width: 800px;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#nav ul li a {
	padding-top: auto;
	padding-bottom: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
	display: inline;
}

#header {
	height: 105px;
	width: 800px;
	padding-top: 5px;
	list-style-type: none;
}
#leftnav {
	width: 200px;
	height: 430px;
	border-top-style: none;
	float: left;
	padding-left: 8px;
	background: #eaf8ff url(images/bgleftnav.png) repeat-x left top;
}

#leftnav a {
	text-decoration: none;
	color: #0066CC;
}

#leftnav a:hover {
	color: #003399;
}

#header img {
	border-style: none;
	padding-top: 10px;
}


body {
	background-image: url(images/bgPage.png);
}

#nav {
	height: 50px;
	width: auto;
	background-color: #14c1fe;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}
#nav ul li {
	list-style-type: none;
	display: inline-block;
}

#nav ul li a {
	font-size: small;
}

#nav ul li a:hover {
	color: #30587C;
}
#middlenav {
	width: 550px;
	height: 650px;
	float: right;
}
#middlenav img {
	padding-left: auto;
	padding-right: auto;
}

#copyright_container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 20px;
}

#leftnav p {
	padding: 5px;
}

.maincontent {
	width: 450px;
	height: 210px;
	margin-left: auto;
	margin-right: auto;
}

.maincontent a {
	text-decoration: none;
}

.maincontent a:hover {
	color: black;
}

#leftnav img {
	padding-top: 5px;
}
#footer .leftcol img {
	padding-top: 10px;
	padding-left: 10px;
}
#container #middlenav .maincontent p {
	padding: 5px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#twitter_widgets {
	width: auto;
	height: 50px;
	padding-top: 150px;
}

#contactweb {
	width: auto;
	height: 30px;
}

#contactweb a {
	text-decoration: none;
	color: black;
	font-style: italic;
}

#contactweb a:hover {
	color: blue;
}

#contactweb p {
	float: right;
	padding-right: 5px;
}

img {
	border-style: none;
}

#targa_downloads {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	background-color: #CCFFFF;
	border: 1px dashed black;
}

#targa_downloads h3 {
	padding-top: 8px;
}

#targa_downloads ul {
	list-style-type: none;
}

#targa_downloads_left {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 400px;
	height: auto;
	background-color: #CCFFFF;
	border: 1px dashed black;
	float: left;
}

#targa_downloads_right {
	margin-top: 20px;
	margin-right: 20px;
	width: 325px;
	height: 200px;
	background-color: #CCFFFF;
	border: 1px dashed black;
	float: right;
}
			
@media only screen and (max-device-width: 480px) {
	#container {
	width: 400px;
	height: auto;
	}
	div#header {
	background-image: none;
	height: 80px;
	position: relative;
	}
		
}

#example-one { 
	background: #eee; 
	padding: 10px; 
	margin: 0 0 15px 0; 
	-moz-box-shadow: 0 0 5px #666; 
	-webkit-box-shadow: 0 0 5px #666; 
}

#example-one .nav { 
	overflow: hidden; 
	margin: 0 0 10px 0; 
}

#example-one .nav li { 
	width: 97px; 
	float: left; 
	margin: 0 10px 0 0; 
}

#example-one .nav li.last { 
	margin-right: 0; 
}

#example-one .nav li a { 
	display: block; 
	padding: 5px; 
	background: #959290; 
	color: white; 
	font-size: 10px; 
	text-align: center; 
	border: 0; 
}

#example-one .nav li a:hover { 
	background-color: #111; 
}

#example-one ul { 
	list-style: none; 
}

#example-one ul li a { 
	display: block; 
	border-bottom: 1px solid #666; 
	padding: 4px; 
	color: #666; 
}

#example-one ul li a:hover, #example-one ul li a:focus {  
	background-color:  #14c1fe;
	color: white; 
}

#example-one ul li:last-child a { 
	border: none; 
}

#example-one li.nav-one a.current, ul.featured li a:hover { 
	background-color: #0575f4; 
	color: white; 
}

#example-one li.nav-two a.current, ul.core li a:hover { 
	background-color: #d30000; 
	color: white; 
}

#example-one li.nav-three a.current, ul.jquerytuts li a:hover { 
	background-color: #8d01b0; 
	color: white; 
}

#example-one li.nav-four a.current, ul.classics li a:hover { 
	background-color: #FE4902; 
	color: white; 
}

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }

/* menu::base */
div#menu {
    height:41px;
    background:url(images/main-bg.png) repeat-x;
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 5px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: -2px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 41px;
    display: block;
    float: left;
    line-height: 41px;
    text-decoration: none;
    font: normal 12px Trebuchet MS;
}
div#menu a:hover, div#menu a:hover span { color: #fff; }
div#menu a:hover { color: rgb(218,219,222); }
div#menu li.current a {}



div#menu span {
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 95% 0;
}
div#menu ul ul a.parent span {
    background-position:95% 8px;
    background-image: url(images/item-pointer.gif);
}
div#menu ul ul a.parent:hover span {
    background-image: url(images/item-pointer-mover.gif);
}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 30px;
    color: #e5e5e5;
}
div#menu span {
    margin-top: 5px;
color: #333;
}
div#menu ul a:hover span {
color: #333;
}
div#menu ul ul span {
color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
color: rgb(218,219,222);
}


div#menu li { background: url(images/main-delimiter.png) 98% 4px no-repeat; }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 38px;
    left: -999em;
    width: 163px;
    padding: 5px 0 0 0;
    background: rgb(45,45,45);
    margin-top:1px;
}
div#menu ul ul a {
    padding: 0 0 0 15px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: rgb(169,169,169);
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 20px;
    color: rgb(169,169,169);
}
div#menu ul ul a:hover span {
    color: #fff;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: -38px 0 0 163px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 44px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

